# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
output/
build/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Windows OS files
Thumbs.db
ehthumbs.db

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Linux system files
*~
*.swp
*/*.swp

# IDEs and editors
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.sublime-workspace
*.sublime-project

# JetBrains IDEs (IntelliJ IDEA, PyCharm, etc.)
*.iml
*.ipr
*.iws

# WebStorm IDE
*.ws-jetbrains.log

# Local ENV files
.env

# Log files
*.log

# Tye specific
.tye/

# Lock files
/yarn.lock
/package-lock.json

# SonarQube
.scannerwork

# Vercel
.vercel/

# ESLint
.eslintcache

# CSpell
.cspellcache

# TypeScript
*.tsbuildinfo


config.json
/test*.*
tests/*
!tests/index.test.js

output/
build/
bin/

*.html
